<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Form in Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="Form" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">
          titulo
          <small class="error-message" *ngIf="Form.get('title')?.invalid && (Form.get('title')?.dirty || Form.get('title')?.touched)">
            <span *ngIf="Form.get('title')?.hasError('required')">El titulo es necesario</span>
            <span *ngIf="Form.get('title')?.hasError('minlength')">Debe ser mayor a 3 caracteres</span>
          </small>
        </ion-label>
        <ion-input formControlName="title" autocapitalize="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label position="floating">
          Descripcion
          <small class="error-message" *ngIf="Form.get('description')?.invalid && (Form.get('description')?.dirty || Form.get('description')?.touched)">
            <span *ngIf="Form.get('description')?.hasError('required')">La descripcion es obligatoria</span>
            <span *ngIf="Form.get('description')?.hasError('minlength')">Debe ser mayor a 10 caracteres</span>
          </small>
        </ion-label>
        <ion-input formControlName="description" inputmode="text"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button [disabled]="!Form.valid" type="submit">
      Done
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-button>
  </form>

  <ion-list *ngIf="!isTasksEmpty; else emptyList">
    <ion-item *ngFor="let task of tasks">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #emptyList>
    <ion-item>
      <ion-label>
        Aun no hay nada aquí
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>
